body {
}

/* כותרות - כחול נייבי */
.label-style-navy {
    font-weight: bold; /* Makes the text bold */
    font-size: 35px; /* Sets the size of the font */
    color: #003366; /* Sets the text color to navy blue */
    text-align: center; /* Centers the text horizontally */
    display: block; /* Changes the label from inline to block to take up the full width */
    line-height: 1.5; /* Adjusts the space between lines to help split the text into two rows if it wraps */
    white-space: normal; /* Ensures text wraps to the next line if needed */
    background-color: transparent; /* Ensures no background color */
    padding: 10px 0; /* Adds some padding above and below the text for better spacing */
    margin: 0 auto; /* Centers the block element in the container, horizontally */
    max-width: 90%; /* Restricts the maximum width to help with text wrapping */
}

/*טקסטבוקס - פרטי משתמש*/
.Textbox-style-navy {
    width: 35%; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the textbox horizontally */
    display: block; /* Ensure the margin auto works */
    border-radius: 15px; /* Rounded edges */
    border: 1px solid #003366; /* Navy border */
    padding: 10px; /* Inner padding for better appearance */
    font-size: 25px; /* Adjust the font size as needed */
    text-align: center;
}

/* דרופדאון ליסט - מגדר,ספק אשראי */
.form-group select,
#User_Gender, #Provider {
    padding: 10px;
    margin-bottom: 17px;
    margin-top: 17px;
    text-align: right;
    height: 45px; /* Adjust this value to increase the height */
}

/*כפתורים */
.Create {
    width: 400px; /* Increased width */
    height: 50px; /* Increased height */
    background-color: yellow; /* White background */
    border-radius: 29px; /* Rounded edges */
    font-weight: bold; /* Makes the text bold */
    border: 0.1px solid #003366; /* Add a navy border for better visibility */
    font-size: 20px; /* Larger font size for better readability */
    color: #003366; /*navy*/
    cursor: pointer; /* Pointer cursor when hovering over the button */
    padding: 10px;
    margin: 20px;
}

/*דיב מרכז*/
.centered-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



